<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boodschappenlijst</title>

    <th:block th:include="fragments/headerInc :: head"></th:block>

</head>
<header th:replace="/fragments/header :: header"></header>
<body style="padding-top:40px; padding-bottom:30px;">
<div class="container-fluid">
    <h2 th:text="'Boodschappenlijst'">Boodschappenlijst</h2>
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th style="width: 150px;">Naam</th>
            <th style="width: 50px;">Benodigde Hoeveelheid</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product: ${products}">
            <td th:text="${product.naam}">Kaas</td>
            <td th:text="${product.benodigdeHoeveelheid}">3</td>
        </tr>
        </tbody>
    </table>
    <a href="#" th:href="@{'/sendemail'}" class="btn btn-primary">Mail Lijst</a>

</div>
</body>
<th:block th:replace="/fragments/footer :: footer"/>
</html>