<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boodschappers</title>

    <th:block th:include="fragments/headerInc :: head"/>
</head>
<header th:replace="/fragments/header :: header"></header>
<body>
<div class="container-fluid">
    <h2 th:text="'Lijst met Boodschappers'">Lijst met Boodschappers</h2>
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Username</th>
            <th>Emailadres</th>
            <th>Mail ontvanger</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user: ${users}">
            <td th:text="${user.username}">Piet</td>
            <td th:text="${user.emailadres}">iets@email.com</td>
            <td><a href="#" th:href="@{'/sendemail/' + ${user.id}}">Mail</a></td>

        </tr>

        </tbody>
    </table>
    <a href="#" th:href="@{'/products'}" class="btn btn-primary">Back</a>
</div>
<th:block th:replace="/fragments/footer :: footer"/>


</body>
</html>