<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voeg nieuwe boodschapper toe</title>

    <th:block th:include="fragments/headerInc :: head"></th:block>
</head>
<header th:replace="/fragments/header :: header"></header>
<body style="padding-top:40px; padding-bottom:30px;">
<div class="container-fluid">
    <h1>Voeg nieuw product toe / pas product aan</h1>
    <form  th:object="${boodschapper}" th:action="@{/sendemail/save}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <label>Voornaam:</label>
        <input type="text" class="form-control" th:field="*{voornaam}"/>

        <label>Achternaam:</label>
        <input type="text" class="form-control" th:field="*{achternaam}"/>

        <label>Emailadres:</label>
        <input type="text" class="form-control" th:field="*{emailadres}"/>

        <button type="submit" class="btn btn-primary" style="margin-top:10px;">Opslaan</button>

    </form>
</div>
<th:block th:replace="/fragments/footer :: footer"/>

</body>
</html>