<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voeg nieuw product toe</title>

    <th:block th:include="fragments/headerInc :: head"></th:block>
</head>
<header th:replace="/fragments/header :: header"></header>
<body>

<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

<div class="container-fluid">
    <h2>Voeg nieuw product toe / pas product aan</h2>
    <form  th:object="${product}" th:action="@{/products/save}" method="post" class="formInput">

        <input type="hidden" th:field="*{id}"/>

        <label>Naam product:</label>
        <input type="text" class="form-control" th:field="*{naam}"/>

        <label>Benodigde hoeveelheid:</label>
        <input type="text" class="form-control" th:field="*{benodigdeHoeveelheid}"/>

        <button  type="submit" class="btn btn-primary" style="margin-top:10px; width: 100px">Opslaan</button>
        <a href="#" th:href="@{'/products'}" class="btn btn-primary" style="margin-top:10px; width: 100px">Annuleren</a>

    </form>


</div>
<th:block th:replace="/fragments/footer :: footer"/>

</body>
</html>