<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>

    <th:block th:include="fragments/headerInc :: head"/>
</head>

<header th:replace="/fragments/header :: header"></header>

<body>
<div class="container">
        <h1>Welcome <span th:text="${#httpServletRequest.userPrincipal.name}">naam</span> </h1>
    </th:block>

</div>

</body>

<th:block th:replace="/fragments/footer :: footer"/>
</html>